*{
    padding:0px;
    margin:0px;
}
body{
    background-image: url('media/STEAKHOUSE-FONDO-PANTALLAS-PC.JPG');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-origin: initial;
    background-size: cover;
}
