{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": []
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "dev/pug/pages/bebidas.pug",
        "config": {
          "customOutput": "bebidas.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/avocado_y_corn_burger.pug",
        "config": {
          "customOutput": "avocado_y_corn_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/blue_cheese_burger.pug",
        "config": {
          "customOutput": "blue_cheese_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/cheese_burger.pug",
        "config": {
          "customOutput": "cheese_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/cheese_y_bacon_stuffed_burger.pug",
        "config": {
          "customOutput": "cheese_y_bacon_stuffed_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/classic_burger.pug",
        "config": {
          "customOutput": "classic_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/cowboy_burger.pug",
        "config": {
          "customOutput": "cowboy_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/criolla_burger.pug",
        "config": {
          "customOutput": "criolla_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/mac_daddy_burger.pug",
        "config": {
          "customOutput": "mac_daddy_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/mushroom_burger.pug",
        "config": {
          "customOutput": "mushroom_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/octopus_burger.pug",
        "config": {
          "customOutput": "octopus_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/philly_cheese_steqak_burger.pug",
        "config": {
          "customOutput": "philly_cheese_steqak_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/route_66_burger.pug",
        "config": {
          "customOutput": "route_66_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/slider_of_burger.pug",
        "config": {
          "customOutput": "slider_of_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/steakhouse_burger.pug",
        "config": {
          "customOutput": "steakhouse_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/tex_mex_burger.pug",
        "config": {
          "customOutput": "tex_mex_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/the_eggsplocion_burger.pug",
        "config": {
          "customOutput": "the_eggsplocion_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/burgers/triple_bypass_burger.pug",
        "config": {
          "customOutput": "triple_bypass_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/combos.pug",
        "config": {
          "customOutput": "combos.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-1.pug",
        "config": {
          "customOutput": "combo-1.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-10.pug",
        "config": {
          "customOutput": "combo-10.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-11.pug",
        "config": {
          "customOutput": "combo-11.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-2.pug",
        "config": {
          "customOutput": "combo-2.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-3.pug",
        "config": {
          "customOutput": "combo-3.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-4.pug",
        "config": {
          "customOutput": "combo-4.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-5.pug",
        "config": {
          "customOutput": "combo-5.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-6.pug",
        "config": {
          "customOutput": "combo-6.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-7.pug",
        "config": {
          "customOutput": "combo-7.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-8.pug",
        "config": {
          "customOutput": "combo-8.html"
        }
      },
      {
        "file": "dev/pug/pages/combos/combo-9.pug",
        "config": {
          "customOutput": "combo-9.html"
        }
      },
      {
        "file": "dev/pug/pages/hamburguesas.pug",
        "config": {
          "customOutput": "hamburguesas.html"
        }
      },
      {
        "file": "dev/pug/pages/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "dev/pug/pages/menu_infantil.pug",
        "config": {
          "customOutput": "menu_infantil.html"
        }
      },
      {
        "file": "dev/pug/pages/menu_infantil/kids_chicken_wings.pug",
        "config": {
          "customOutput": "kids_chicken_wings.html"
        }
      },
      {
        "file": "dev/pug/pages/menu_infantil/kids_spareribs.pug",
        "config": {
          "customOutput": "kids_spareribs.html"
        }
      },
      {
        "file": "dev/pug/pages/menu_infantil/mini_burger.pug",
        "config": {
          "customOutput": "mini_burger.html"
        }
      },
      {
        "file": "dev/pug/pages/menu_infantil/salchipapa.pug",
        "config": {
          "customOutput": "salchipapa.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal.pug",
        "config": {
          "customOutput": "plato_principal.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/beef_ribs.pug",
        "config": {
          "customOutput": "beef_ribs.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/bife_de_chorizo_argentina.pug",
        "config": {
          "customOutput": "bife_de_chorizo_argentina.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/cuadril.pug",
        "config": {
          "customOutput": "cuadril.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/fish_en_papillote.pug",
        "config": {
          "customOutput": "fish_en_papillote.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/grilled_chicken.pug",
        "config": {
          "customOutput": "grilled_chicken.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/grilled_chicken_shrimps.pug",
        "config": {
          "customOutput": "grilled_chicken_shrimps.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/grilled_salmon.pug",
        "config": {
          "customOutput": "grilled_salmon.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/grilled_shrimp.pug",
        "config": {
          "customOutput": "grilled_shrimp.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/jack_daniels_steak.pug",
        "config": {
          "customOutput": "jack_daniels_steak.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/marinated_pork_spareribs.pug",
        "config": {
          "customOutput": "marinated_pork_spareribs.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/oversized_jack_daniels_steak.pug",
        "config": {
          "customOutput": "oversized_jack_daniels_steak.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/pacumuto_crucenio.pug",
        "config": {
          "customOutput": "pacumuto_crucenio.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/picania.pug",
        "config": {
          "customOutput": "picania.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/pique_macho.pug",
        "config": {
          "customOutput": "pique_macho.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/rib_eye_steak.pug",
        "config": {
          "customOutput": "rib_eye_steak.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/sate.pug",
        "config": {
          "customOutput": "sate.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/skewered_chicken.pug",
        "config": {
          "customOutput": "skewered_chicken.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/steak_tartar.pug",
        "config": {
          "customOutput": "steak_tartar.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/surf_and_turf.pug",
        "config": {
          "customOutput": "surf_and_turf.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/t_bone.pug",
        "config": {
          "customOutput": "t_bone.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/tenderlion_steak.pug",
        "config": {
          "customOutput": "tenderlion_steak.html"
        }
      },
      {
        "file": "dev/pug/pages/plato_principal/tomahawk.pug",
        "config": {
          "customOutput": "tomahawk.html"
        }
      },
      {
        "file": "dev/pug/pages/postres.pug",
        "config": {
          "customOutput": "postres.html"
        }
      },
      {
        "file": "dev/pug/pages/postres/banana_split.pug",
        "config": {
          "customOutput": "banana_split.html"
        }
      },
      {
        "file": "dev/pug/pages/postres/brownie.pug",
        "config": {
          "customOutput": "brownie.html"
        }
      },
      {
        "file": "dev/pug/pages/postres/cheese_cake.pug",
        "config": {
          "customOutput": "cheese_cake.html"
        }
      },
      {
        "file": "dev/pug/pages/postres/helado.pug",
        "config": {
          "customOutput": "helado.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones.pug",
        "config": {
          "customOutput": "salsas_guarniciones.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/arroz_con_queso.pug",
        "config": {
          "customOutput": "arroz_con_queso.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/arroz_primavera.pug",
        "config": {
          "customOutput": "arroz_primavera.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/camote_a_la_parrilla.pug",
        "config": {
          "customOutput": "camote_a_la_parrilla.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/mac_heese.pug",
        "config": {
          "customOutput": "mac_heese.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/papa_a_la_parrilla.pug",
        "config": {
          "customOutput": "papa_a_la_parrilla.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/papas_fritas.pug",
        "config": {
          "customOutput": "papas_fritas.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_bbq.pug",
        "config": {
          "customOutput": "salsa_bbq.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_champiniones.pug",
        "config": {
          "customOutput": "salsa_champiniones.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_chimichurri.pug",
        "config": {
          "customOutput": "salsa_chimichurri.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_curry_whiskey.pug",
        "config": {
          "customOutput": "salsa_curry_whiskey.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_de_ajo.pug",
        "config": {
          "customOutput": "salsa_de_ajo.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_de_pimienta.pug",
        "config": {
          "customOutput": "salsa_de_pimienta.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_jack_daniels.pug",
        "config": {
          "customOutput": "salsa_jack_daniels.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_jd_honey_mustard.pug",
        "config": {
          "customOutput": "salsa_jd_honey_mustard.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_mani.pug",
        "config": {
          "customOutput": "salsa_mani.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_queso_azul.pug",
        "config": {
          "customOutput": "salsa_queso_azul.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_spicey_coctet.pug",
        "config": {
          "customOutput": "salsa_spicey_coctet.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/salsa_tzaziki.pug",
        "config": {
          "customOutput": "salsa_tzaziki.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/stuffed_grilled_potato.pug",
        "config": {
          "customOutput": "stuffed_grilled_potato.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/tallarin_salteada.pug",
        "config": {
          "customOutput": "tallarin_salteada.html"
        }
      },
      {
        "file": "dev/pug/pages/salsas_guarniciones/yuca_frita.pug",
        "config": {
          "customOutput": "yuca_frita.html"
        }
      },
      {
        "file": "dev/pug/pages/tablas.pug",
        "config": {
          "customOutput": "tablas.html"
        }
      },
      {
        "file": "dev/pug/pages/tablas/cavalry_sword.pug",
        "config": {
          "customOutput": "cavalry_sword.html"
        }
      },
      {
        "file": "dev/pug/pages/tablas/tablita_argentina.pug",
        "config": {
          "customOutput": "tablita_argentina.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas.pug",
        "config": {
          "customOutput": "tapas_entradas.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/albondigas_con_tomate.pug",
        "config": {
          "customOutput": "albondigas_con_tomate.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/anticuchos.pug",
        "config": {
          "customOutput": "anticuchos.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/bitter_ballen.pug",
        "config": {
          "customOutput": "bitter_ballen.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/boquerones_en_vinagre.pug",
        "config": {
          "customOutput": "boquerones_en_vinagre.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/brocheta_de_champinon.pug",
        "config": {
          "customOutput": "brocheta_de_champinon.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/carpaccio_de_atun.pug",
        "config": {
          "customOutput": "carpaccio_de_atun.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/carpaccio_de_pulpo.pug",
        "config": {
          "customOutput": "carpaccio_de_pulpo.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/carpacio_de_res.pug",
        "config": {
          "customOutput": "carpacio_de_res.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/carpacio_de_salmon.pug",
        "config": {
          "customOutput": "carpacio_de_salmon.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/chinchulines.pug",
        "config": {
          "customOutput": "chinchulines.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/chorizo_de_la_casa.pug",
        "config": {
          "customOutput": "chorizo_de_la_casa.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/chorizo_mixto.pug",
        "config": {
          "customOutput": "chorizo_mixto.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/huevo_roto.pug",
        "config": {
          "customOutput": "huevo_roto.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/jiba.pug",
        "config": {
          "customOutput": "jiba.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/langostino_al_ajillo.pug",
        "config": {
          "customOutput": "langostino_al_ajillo.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/langostinos_a_la_parrilla.pug",
        "config": {
          "customOutput": "langostinos_a_la_parrilla.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/langostinos_piri_piri.pug",
        "config": {
          "customOutput": "langostinos_piri_piri.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/morcilla.pug",
        "config": {
          "customOutput": "morcilla.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/nachos.pug",
        "config": {
          "customOutput": "nachos.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/papas_bravas.pug",
        "config": {
          "customOutput": "papas_bravas.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/pulpo_a_la_gallega.pug",
        "config": {
          "customOutput": "pulpo_a_la_gallega.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/pulpo_al_bistro.pug",
        "config": {
          "customOutput": "pulpo_al_bistro.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/spicey_grilled_corn_on_the_cob.pug",
        "config": {
          "customOutput": "spicey_grilled_corn_on_the_cob.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/tabla_mixta.pug",
        "config": {
          "customOutput": "tabla_mixta.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/tortilla_espanola.pug",
        "config": {
          "customOutput": "tortilla_espanola.html"
        }
      },
      {
        "file": "dev/pug/pages/tapas_entradas/ubre.pug",
        "config": {
          "customOutput": "ubre.html"
        }
      },
      {
        "file": "dev/pug/pages/vegetariano.pug",
        "config": {
          "customOutput": "vegetariano.html"
        }
      },
      {
        "file": "dev/pug/pages/vegetariano/char_grilled_vegetarian_skewers.pug",
        "config": {
          "customOutput": "char_grilled_vegetarian_skewers.html"
        }
      },
      {
        "file": "dev/pug/pages/vegetariano/ensalada_ceasar.pug",
        "config": {
          "customOutput": "ensalada_ceasar.html"
        }
      },
      {
        "file": "dev/pug/pages/vegetariano/ensalada_the_steakhouse.pug",
        "config": {
          "customOutput": "ensalada_the_steakhouse.html"
        }
      },
      {
        "file": "dev/pug/pages/vegetariano/hamburguesa_de_lentejas.pug",
        "config": {
          "customOutput": "hamburguesa_de_lentejas.html"
        }
      },
      {
        "file": "dev/pug/pages/vegetariano/hamburguesa_de_quinoa.pug",
        "config": {
          "customOutput": "hamburguesa_de_quinoa.html"
        }
      },
      {
        "file": "dev/pug/pages/vegetariano/hamburguesa_de_remolacha.pug",
        "config": {
          "customOutput": "hamburguesa_de_remolacha.html"
        }
      },
      {
        "file": "dev/scss/styles.scss",
        "config": {
          "customOutput": "styles.css"
        }
      }
    ]
  }
}
