* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url("media/STEAKHOUSE-FONDO-PANTALLAS-PC.JPG");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-origin: initial;
  background-size: cover;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: Barnum;
  src: url("fonts/p.t.barnumregular.ttf") format("truetype");
}
body {
  font-family: Barnum;
  font-size: 12pt;
}

.menu {
  width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.menu__body {
  max-width: 800px;
  display: block;
}
.menu__logo {
  background-color: #ccc;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.menu__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.menu__item {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: relative;
  width: 180px;
}
.menu__item:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
.menu__btn {
  width: 100%;
}
.menu__text {
  position: absolute;
  z-index: 100;
  bottom: 50%;
  right: 50%;
  transform: translateX(50%) translateY(50%);
}

.header {
  width: 100%;
  position: relative;
  margin-bottom: 70px;
}
.header__img {
  max-width: 100%;
  width: 100%;
  z-index: 99;
}
.header__logo {
  width: 250px;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translateY(20%) translateX(-50%);
}

.headerdishes {
  font-size: 2em;
  background-color: #3d2116;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.headerdishes__logo {
  position: absolute;
  width: 150px;
  right: 0px;
  z-index: 100;
  top: 0;
}
.headerdishes__img {
  width: 100%;
  transform: rotate(10deg);
}

.dishes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
}
.dishes__link {
  text-decoration: none;
  width: 100%;
  height: auto;
}
.dishes__link:hover .dishes__img {
  transform: scale(1.03);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.dishes__img {
  width: 100%;
}
.dishes__text {
  margin-top: 10px;
}

.plate {
  margin-top: 100px;
  margin-bottom: 100px;
}
.plate__logo {
  position: absolute;
  right: 30px;
  top: 0;
  transform: translateY(-40%);
  width: 250px;
  z-index: 100;
}
.plate__img {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.plate__img img {
  max-width: 100%;
}
.plate__img:hover .plate__picture {
  transform: scale(1.2);
  transition: transform 5.5s linear;
  transform-origin: center;
}
.plate__cont__picture {
  overflow: hidden;
  display: block;
}
.plate__picture {
  width: 100%;
  transition: transform 5.5s linear;
}
.plate__body {
  color: #3d2116;
}
.plate__title {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
.plate__price {
  text-align: center;
  font-size: 1.5em;
}
.plate__text {
  font-size: 1.5em;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .menu__nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__logo {
    width: 170px;
  }
}