-   
    var vino =
    {
        name: "Vino",
        items: [
            {
                name: "Aranjuez Duo Tannat-Merlot",
                price: "100"
            },
            {
                name: "Aranjuez Terruño Tinto",
                price: "85"
            },
            {
                name: "Aranjuez Terruño Blanco",
                price: "85"
            }
        ]
    }
-
    var sinalcohol =
    {
        name: "Bebidas sin Alcohol",
        items: [
            {
                name: "Pepsi 500 ml",
                price: "14"
            },
            {
                name: "Pepsi Light 500 ml",
                price: "12"
            },
            {
                name: "7-Up 500 ml",
                price: "12"
            },
            {
                name: "Guarana 500 ml",
                price: "12"
            },
            {
                name: "Coca Cola",
                price: "12"
            },
            {
                name: "Coca Cola sin azucar (500 ml)",
                price: "12"
            },
            {
                name: "Sprite (500 ml)",
                price: "12"
            },
            {
                name: "Fanta (500 ml)",
                price: "12"
            },
            {
                name: "Agua sin gas 600 ml",
                price: "10"
            }
            ,
            {
                name: "Agua con gas 600 ml",
                price: "10"
            },
            {
                name: "Red Bull Energy Drink",
                price: "30"
            },
            {
                name: "Limonada",
                price: "14"
            },
            {
                name: "Jugo de diá",
                price: "16"
            },
            {
                name: "Ice Tea",
                price: "14"
            }
        ]
    }
-
    var cervezas = 
    {
        name: "cervezas",
        items: [
            {
                name: "Huari",
                price: "35"
            },
            {
                name: "Huari Miel",
                price: "35"
            },
            {
                name: "Huari Trigo",
                price: "35"
            },
            {
                name: "Paceña Centenario",
                price: "34"
            },
            {
                name: "Paceña Pico de Plata",
                price: "28"
            },
            {
                name: "Corona",
                price: "36"
            }
        ]
    }
-
    var chops =
    {
        name: "Chops",
        items:[
            {
                name:"Huari",
                priceuno:34,
                pricedos:40,
                pricetres:75,
                pricecuatro:115,
            },
            {
                name:"Paceña Centenario",
                priceuno:32,
                pricedos:39,
                pricetres:72,
                pricecuatro:110,
            },
            {
                name:"Paceña",
                priceuno:"-",
                pricedos:35,
                pricetres:65,
                pricecuatro:100,
            }
        ]
    }