-   
    var drinks = [
        {
            name: "Bebidas sin Alcohol",
            items: [
                {
                    name: "Pepsi 500 ml",
                    price: "14"
                },
                {
                    name: "Pepsi Light 500 ml",
                    price: "12"
                },
                {
                    name: "7-Up 500 ml",
                    price: "12"
                },
                {
                    name: "Guarana 500 ml",
                    price: "12"
                },
                {
                    name: "Coca Cola",
                    price: "12"
                },
                {
                    name: "Coca Cola sin azucar (500 ml)",
                    price: "12"
                },
                {
                    name: "Sprite (500 ml)",
                    price: "12"
                },
                {
                    name: "Fanta (500 ml)",
                    price: "12"
                },
                {
                    name: "Agua sin gas 600 ml",
                    price: "10"
                }
                ,
                {
                    name: "Agua con gas 600 ml",
                    price: "10"
                },
                {
                    name: "Red Bull Energy Drink",
                    price: "30"
                },
                {
                    name: "Limonada",
                    price: "14"
                },
                {
                    name: "Jugo de diá",
                    price: "16"
                },
                {
                    name: "Ice Tea",
                    price: "14"
                }
            ]
        },
        {
            name: "Cervezas",
            items: [
                {
                    name: "Huari",
                    price: "35"
                },
                {
                    name: "Huari Miel",
                    price: "35"
                },
                {
                    name: "Huari Trigo",
                    price: "35"
                },
                {
                    name: "Paceña Centenario",
                    price: "34"
                },
                {
                    name: "Paceña Pico de Plata",
                    price: "28"
                },
                {
                    name: "Corona",
                    price: "36"
                }
            ]
        },
        {
            name: "Vino",
            items: [
                {
                    name: "Aranjuez Duo Tannat-Merlot",
                    price: "100"
                },
                {
                    name: "Aranjuez Terruño Tinto",
                    price: "85"
                },
                {
                    name: "Aranjuez Terruño Blanco",
                    price: "85"
                }
            ]
        }
    ]