-   
    var combos = [
        {
            img: "media/combos/thumbnail/COMBO_1_thumbnail.jpg",
            text: "Combo 1 - The Steakhouse",
            price: "Bs 89",
            link:"combo-1.html",
            status: false
        },
        {
            img: "media/combos/thumbnail/COMBO_2_thumbnail.jpg",
            text: "Combo 2 - The Steakhouse",
            price: "Bs 134",
            link:"combo-2.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_3_thumbnail.jpg",
            text: "Combo 3 - The Steakhouse",
            price: "Bs 119",
            link:"combo-3.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_4_thumbnail.jpg",
            text: "Combo 4 - The Steakhouse",
            price: "Bs 79",
            link:"combo-4.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_5_thumbnail.jpg",
            text: "Combo 5 - The Steakhouse",
            price: "Bs 168",
            link:"combo-5.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_6_thumbnail.jpg",
            text: "Combo 6 - The Steakhouse",
            price: "Bs 66",
            link:"combo-6.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_7_thumbnail.jpg",
            text: "Combo 7 - The Steakhouse",
            price: "Bs 66",
            link:"combo-7.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_8_thumbnail.jpg",
            text: "Combo 8 - The Steakhouse",
            price: "Bs 99",
            link:"combo-8.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_9_thumbnail.jpg",
            text: "Combo 9 - The Steakhouse",
            price: "Bs 199",
            link:"combo-9.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_10_thumbnail.jpg",
            text: "Combo 10 - The Steakhouse",
            price: "Bs 79",
            link:"combo-10.html",
            status: true
        },
        {
            img: "media/combos/thumbnail/COMBO_11_thumbnail.jpg",
            text: "Combo 11 - The Steakhouse",
            price: "Bs 79",
            link:"combo-11.html",
            status: true
        }
    ]