- var title = "Steak House | "
- var page = ""
- var descripcion = "Las mejores carnes a la parrilla para compartir en familia."
- var keywords = ""
- var dishes = ""
- 
    var sponsors= 
    [
        {
            name:"Pepsi",
            img:"pepsi",
            extencion:".svg"
        },
        {
            name:"Paceña",
            img:"pacenia",
            extencion:".svg"
        },
        {
            name:"7-up",
            img:"7-up",
            extencion:".svg"
        },
        {
            name:"Guarana",
            img:"guarana",
            extencion:".svg"
        },
        {
            name:"huari",
            img:"guarana",
            extencion:".svg"
        },
        {
            name:"H2OH",
            img:"h2oh",
            extencion:".svg"
        }
    ]