-   
    var burguers = [
        {
            img: "media/hamburguesas/thumbnail/STEAKHOUSE_BURGER_thumbnail.jpg",
            text: "Steakhouse Burger",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/OCTOPUS_BURGER_thumbnail.jpg",
            text: "Octopus Burger",
            link:"octopus_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/CRIOLLA_BURGER_thumbnail.jpg",
            text: "Criolla Burger",
            link:"criolla_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/MUSHROOM_BURGER_thumbnail.jpg",
            text: "Mushroom Burger",
            link:"mushroom_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/MAC_DADDY_BURGER_thumbnail.jpg",
            text: "Mac Daddy Burger",
            link:"mac_daddy_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/ROUT_66_BURGER_thumbnail.jpg",
            text: "Route 66 Burger",
            link:"route_66_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/PHILLY_CHEESE_STEQAK_BURGER_thumbnail.jpg",
            text: "Philly Cheese Steqak Burger",
            link:"philly_cheese_steqak_burger.html",
            status: false
        },
        {
            img: "media/hamburguesas/thumbnail/EGGSPLOSION_BURGER_thumbnail.jpg",
            text: "The Eggsplosion",
            link:"the_eggsplocion_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/CLASSIC_BURGER_thumbnail.jpg",
            text: "Classic Burger",
            link:"classic_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/AVOCADO_Y_CORN_BURGER_thumbnail.jpg",
            text: "Avocado & Corn Burger",
            link:"avocado_y_corn_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/CHESSE_BURGER_thumbnail.jpg",
            text: "Cheese Burger",
            link:"cheese_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/COWBOY_BURGER_thumbnail.jpg",
            text: "Cowboy Burger",
            link:"cowboy_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/TEX_MEX_BURGER_thumbnail.jpg",
            text: "Tex-Mex Burger",
            link:"tex_mex_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/CLUE_CHESSE_BURGER_thumbnail.jpg",
            text: "Blue Cheese - Stuffed Burger",
            link:"blue_cheese_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/CHESSE_BACON_BURGER_thumbnail.jpg",
            text: "Cheese & Bacon Stuffed Burger",
            link:"cheese_y_bacon_stuffed_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/thumbnail/TRIPLE_BYPASS_BURGER_thumbnail.jpg",
            text: "Triple Bypass Burger",
            link:"triple_bypass_burger.html",
            status: false
        },
        {
            img: "media/hamburguesas/thumbnail/SLIDER_BURGER_thumbnail.jpg",
            text: "Slider of Burgers",
            link:"slider_of_burger.html",
            status: true
        }

    ]