-   
    var burguers = [
        {
            img: "media/hamburguesas/STEAKHOUSE_BURGER.jpg",
            text: "Steakhouse Burger (160 gr)",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/hamburguesas/STEAKHOUSE_BURGER.jpg",
            text: "Lorem ipsum dolor sit.",
            link:"",
            status: true
        },
        {
            img: "media/hamburguesas/STEAKHOUSE_BURGER.jpg",
            text: "Lorem ipsum dolor sit.",
            link:"",
            status: true
        },
        {
            img: "media/hamburguesas/STEAKHOUSE_BURGER.jpg",
            text: "Lorem ipsum dolor sit.",
            link:"",
            status: true
        },
        {
            img: "media/hamburguesas/STEAKHOUSE_BURGER.jpg",
            text: "Lorem ipsum dolor sit.",
            link:"",
            status: true
        },
        {
            img: "media/hamburguesas/STEAKHOUSE_BURGER.jpg",
            text: "Lorem ipsum dolor sit.",
            link:"",
            status: true
        },
        {
            img: "media/hamburguesas/STEAKHOUSE_BURGER.jpg",
            text: "Lorem ipsum dolor sit.",
            link:"",
            status: true
        },
        {
            img: "media/hamburguesas/STEAKHOUSE_BURGER.jpg",
            text: "Lorem ipsum dolor sit.",
            link:"",
            status: true
        }

    ]