-   
    var menu = [
        {
            name: "Combos",
            link: "#",
            status: true
        },
        {
            name: "Pollos",
            link: "#",
            status: true
        },
        {
            name: "Hamburguesas",
            link: "#",
            status: true
        },
        {
            name: "Choripan y Salchipapas",
            link: "#",
            status: true
        },
        {
            name: "Guarniciones",
            link: "#",
            status: true
        },
        {
            name: "Refrescos",
            link: "#",
            status: true
        }
    ]
    var logo = "logo.jpg";