-   
    var menu = [
        {
            name: "Combos",
            link: "#",
            status: true
        },
        {
            name: "Tapas & Entradas",
            link: "#",
            status: true
        },
        {
            name: "Platos Principales",
            link: "#",
            status: true
        },
        {
            name: "Tablas",
            link: "#",
            status: true
        },
        {
            name: "Vegetariano",
            link: "#",
            status: true
        }
        ,
        {
            name: "Hamburguesas",
            link: "hamburguesas.html",
            status: true
        },
        {
            name: "Menú infantil",
            link: "#",
            status: true
        },
        {
            name: "Postres",
            link: "#",
            status: true
        },
        {
            name: "Salsas & Guarniciones",
            link: "#",
            status: true
        },
        {
            name: "Bebidas",
            link: "#",
            status: true
        }
    ]
    var logo = "logo.jpg";