-   
    var principal = [
        {
            img: "media/plato_principal/thumbnail/JACK_DANIELS_STEAK_thumbnail.jpg",
            text: "Jack Daniel's Steak",
            link:"jack_daniels_steak.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/OVERSIZED_JACK_DANIELS_STEAK_thumbnail.jpg",
            text: "Oversized Jack Daniel's Steak",
            link:"oversized_jack_daniels_steak.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/TENDERLION_STEAK_thumbnail.jpg",
            text: "Tenderloin Steak",
            link:"tenderlion_steak.html",
            status: false
        },
        {
            img: "media/plato_principal/thumbnail/SURF_AND_TURF_thumbnail.jpg",
            text: "Surf & Turf",
            link:"surf_and_turf.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/RIB_EYE_STEAK_thumbnail.jpg",
            text: "Rib Eye Steak",
            link:"rib_eye_steak.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/T_BONE_thumbnail.jpg",
            text: "T-Bone",
            link:"t_bone.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/TOMAHAWK_thumbnail.jpg",
            text: "Tomahawk",
            link:"tomahawk.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/BEEF_RIBS_thumbnail.jpg",
            text: "Beef Ribs",
            link:"beef_ribs.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/CUADRIL_thumbnail.jpg",
            text: "Cuadril",
            link:"cuadril.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/PICANIA_thumbnail.jpg",
            text: "Picaña",
            link:"picania.html",
            status: false
        },
        {
            img: "media/plato_principal/thumbnail/PACAMUTO_CRUCENIO_thumbnail.jpg",
            text: "Pacamuto Cruceño",
            link:"pacamuto_crucenio.html",
            status: false
        },
        {
            img: "media/plato_principal/thumbnail/BIFE_DE_CHORIZO_ARGENTINA_thumbnail.jpg",
            text: "Bife de Chorizo - Argentina",
            link:"bife_de_chorizo_argentina.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/STEAK_TARTAR_thumbnail.jpg",
            text: "Steak Tartar",
            link:"steak_tartar.html",
            status: false
        },
        {
            img: "media/plato_principal/thumbnail/SATE_thumbnail.jpg",
            text: "Saté",
            link:"sate.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/SKEWERED_CHICKEN_thumbnail.jpg",
            text: "Skewered Chicken",
            link:"skewered_chicken.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/GRILLED_CHICKEN_thumbnail.jpg",
            text: "Grilled Chicken",
            link:"grilled_chicken.html",
            status: false
        },
        {
            img: "media/plato_principal/thumbnail/GRILLED_CHICKEN_SHRIMPS_thumbnail.jpg",
            text: "Grilled Chicken & Shrimps",
            link:"grilled_chicken_shrimps.html",
            status: false
        },
        {
            img: "media/plato_principal/thumbnail/MARINATED_PORK_SPARERIBS_thumbnail.jpg",
            text: "Marinated Pork - Spareribs",
            link:"marinated_pork_spareribs.html",
            status: false
        },
        {
            img: "media/plato_principal/thumbnail/GRILLED_SALMON_thumbnail.jpg",
            text: "Grilled Salmón",
            link:"grilled_salmon.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/GRILLED_SHRIMP_thumbnail.jpg",
            text: "Grilled Shrimp",
            link:"grilled_shrimp.html",
            status: false
        },
        {
            img: "media/plato_principal/thumbnail/FISH_EN_PAPILLOTE_thumbnail.jpg",
            text: "Fish en Papillote",
            link:"fish_en_papillote.html",
            status: true
        },
        {
            img: "media/plato_principal/thumbnail/PIQUE_MACHO_thumbnail.jpg",
            text: "Pique Macho",
            link:"pique_macho.html",
            status: true
        },
    ]