-   
    var tapas = [
        {
            img: "media/tapas_entradas/thumbnail/TORTILLA_ESPAÑOLA_thumbnail.jpg",
            text: "Tortilla Española",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/LANGOSTINO_AL_AJILLO_thumbnail.jpg",
            text: "Langostinos al Ajillo",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/LANGOSTINOS_PIRI_PIRI_thumbnail.jpg",
            text: "Langostinos Piri Piri",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/LANGOSTINOS_A_LA_PARRILLA_thumbnail.jpg",
            text: "Langostinos a la parrilla",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/PULPO_AL_BISTRO_thumbnail.jpg",
            text: "Pulpo al Bistro",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/HUEVO_ROTO_thumbnail.jpg",
            text: "Huevo Roto",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CARPACIO_DE_PULPO_thumbnail.jpg",
            text: "Carpaccio de Pulpo",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CARPACIO_DE_ATUN_thumbnail.jpg",
            text: "Carpacio de Atún",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/MORCILLA_thumbnail.jpg",
            text: "Morcillas",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CHORIZO_DE_LA_CASA_thumbnail.jpg",
            text: "Chorizo de la casa",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/ANTICUCHOS_thumbnail.jpg",
            text: "Antichuchos",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/CHINCHULINES_thumbnail.jpg",
            text: "Chinchulines",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/UBRE_thumbnail.jpg",
            text: "Ubre",
            link:"steakhouse_burger.html",
            status: true
        },
        {
            img: "media/tapas_entradas/thumbnail/TABLA_MIXTA_thumbnail.jpg",
            text: "Tabla mixta",
            link:"steakhouse_burger.html",
            status: true
        }
    ]