extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Combo 11 - The Steakhouse"
    - descripcion = "Tex Mex Burger 160 gr + Corona "
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/combos/COMBO_11.jpg',page,'Bs 79','',descripcion)
    include ../../blocks/btn_atras
    +btn("combos")