extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Combo 1 - The Steakhouse"
    - descripcion = "Tenderloin steak 300 g + Pepsi 500 ml"
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/combos/COMBO_1.jpg',page,'Bs 89','',descripcion)