extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Marinated Pork- Spareribs"
    - descripcion = "Disfruta hasta el cansancio nuestras deliciosas costillas de cerdo, y si logras comerte más de un kilo, ¡te ganarás una de nuestras poleras!"
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/plato_principal/MARINATED_PORK_SPARERIBS.jpg',page,'(1000 gr) Bs 244','',descripcion,sponsors[2])
    include ../../blocks/btn_atras
    +btn("plato_principal")