extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Oversized Jack Daniel's Steak"
    - descripcion = "1200 gr de carne de la más deliciosa carne de res. Flambeada con whisky Jack Daniel’s y servido con salsa Jack Daniel’s. Ademas ¡llévate una polera!"
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/plato_principal/OVERSIZED_JACK_DANIELS_STEAK.jpg',page,' (1200 gr) Bs 248','',descripcion)
    include ../../blocks/btn_atras
    +btn("plato_principal")