extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Rib Eye Steak"
    - descripcion = "Nuestro Prime Rib hecho a la perfección, servido con una salsa a elección."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/plato_principal/RIB_EYE_STEAK.jpg',page,'(350gr) Bs 114','',descripcion)