extends ../templates/template-dishes
include ../mixins/dishes
block content
    .container
        .dishes
            include ../config/hamburguesas
            each plate in burguers
                if(plate.status === true)
                    +dishes(plate.link,plate.img,plate.text)