extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Blue Cheese - Stuffed Burger"
    - descripcion = "Con tocino, lechuga, tomate, cebolla cubierta con salsa JACK DANIEL' S y queso azul."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/hamburguesas/BLUE_CHEESE_BURGER.jpg',page,'(160gr) Bs 72','(250gr) Bs 88',descripcion)