extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Cheese Burger"
    - descripcion = "Con queso, tomate, cebolla y lechuga"
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/hamburguesas/CHEESE_BURGER.jpg',page,'(160gr) Bs 62','(250gr) Bs 78',descripcion)