extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Mac Daddy Burger"
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/hamburguesas/MAC_DADDY_BURGER.jpg',page,'(160gr) Bs 76','(250gr) Bs 94','Hamburguesa servida entre 2 capas fritas de Mac & Cheese, lechuga morada, cebolla y tómate Una verdadera explosión de sabor!!')