extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Mushroom Burger"
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/hamburguesas/MUSHROOM_BURGER.jpg',page,'(160gr) Bs 66','(250gr) Bs 82','Servida con queso, tocino y salsa de champiñones.')