extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Route 66 Burger"
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/hamburguesas/ROUTE_66_BURGER.jpg',page,'(160gr) Bs 68','(250gr) Bs 86','Con aros de cebollas grillados con champiñones, tocino, salsa BBQ, queso y pepinillos.')