extends ../../templates/template.pug
include ../../mixins/plate
//- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
block append config
    - page = "SteakHouse Burger"
    - descripcion = "Pide algo diferente…!!! Hamburguesa, langostino, queso, tocino, lechuga, cebolla, tomate, salsa Jack Daniel's  y salsa de ajo."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/hamburguesas/STEAKHOUSE_BURGER.jpg',page,'(160gr) Bs 78','(250gr) Bs 94',descripcion)
    include ../../blocks/btn_atras
    +btn("hamburguesas")
    


    
