extends ../../templates/template.pug
include ../../mixins/plate
block content
    //- imgajen | titulo | precio | ingredientes
    +plate('media/hamburguesas/STEAKHOUSE_BURGER.jpg','SteakHouse Burger','(160gr) Bs 78','(250gr) Bs 94','langostino, queso, tocino, lechuga, cebolla, tomate, salsa Jack Daniel s  y salsa de ajo.')
    


    
