meta(name="auth", content="Cristhian Chauca")
link(rel="stylesheet", href="styles.css")
title #{title} #{page}
meta(name="description", content=descripcion)
meta(name="keywords", content=keywords)
//- TODO: verificar si el la siguiente linea funciona
meta(name="theme-color", content="#472C0F")
link(rel="icon", href="media/steakhouse-icon.png", type="image/png")