header.header
    picture
        source.header__img(media="(max-width: 700px)", srcset="media/steakhouse-header-small.png")
        img.header__img(srcset="media/steakhouse-header-long.png", alt="")
    img.header__logo(src="media/LOGO-STEAKHOUSE.png", alt="")