extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Salchipapas"
    - descripcion = "Servido con postre y un jugo."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/menu_infantil/SALCHIPAPA.jpg',page,'Bs 32','',descripcion)