extends ../../templates/template.pug
include ../../mixins/plate
block append config
    //- cambiar la varialbe | PAGE | para modificar el titulo de la pagina
    - page = "Ensalada Ceasar"
    - descripcion = "Ensalada fresca  de origen Italiano a base de lechuga,huevo duro, queso parmesano, tomates cherrys, adiriendo pollo a la plancha sasonado y nuestra salsa cesar hecha en casa a base de aceite de oliva aromatizado y una base de mayonesa con parmesano, ajo y limon."
block content
    .content__plate
        //- ingresar los datos para que se vea en la pagina en el siguiente orden
        //- imgajen | titulo | precio | ingredientes
        +plate('media/vegetariano/ENSALADA_CESAR.jpg',page,'Bs 42','',descripcion,sponsors[1])
    include ../../blocks/btn_atras
    +btn("vegetariano")